@model IEnumerable<ChannelEngineAssessment.Models.OrderViewModel>

@{
    ViewBag.Title = "Index";
}
<div><b>Orders from Channel Engine API</b><br /></div>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Order Id</th>
        <th>Channel Name</th>
        <th>Total with VAT</th>
        <th>VAT</th>
        <th>Currency</th>
        <th>Phone</th>
        <th>Mail</th>
        <th>Order Date</th>
    </tr>
    @foreach (var d in Model)
    {
<tr>
    <td>@d.Id</td>
    <td>@d.ChannelName</td>
    <td>@d.TotalInclVat</td>
    <td>@d.TotalVat</td>
    <td>@d.CurrencyCode</td>
    <td>@d.Phone</td>
    <td>@d.Email</td>
    <td>@d.OrderDate</td>

</tr>

    }
</table>
